<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<pmgThesisConfigDeviceClient>
<Devicename>korinthos</Devicename>
<Password>korinthos</Password>
<Address>localhost</Address>
<Port>50128</Port>
<secondsForNextTryConnect>60</secondsForNextTryConnect>
<secondsForNextSearchArduino>10</secondsForNextSearchArduino>
<viewMessage>True</viewMessage>
</pmgThesisConfigDeviceClient>
