<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<pmgThesisConfigRealControllers>
<Devicename>perama</Devicename>
<Password>perama</Password>
<Address>localhost</Address>
<Port>50128</Port>
<secondsForNextTryConnect>-1</secondsForNextTryConnect>
<secondsForNextSearchArduino>-1</secondsForNextSearchArduino>
<viewMessage>True</viewMessage>
</pmgThesisConfigRealControllers>
